/*====================================
=            Admin Styles            =
====================================*/

.ckbr-wrap .metabox-holder input,
.ckbr-wrap .metabox-holder textarea {
  width: 100%;
  display: block;
}

.ckbr-wrap .metabox-holder input {
  max-width: 250px;
}

.ckbr-wrap .metabox-holder textarea {
  max-width: 500px;
}

.ckbr-wrap .spinner {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}

.ckbr-wrap .submit-wrap .submit {
  float: left;
  padding-top: 0;
}
